.menuprincipal{
    color: blue;
    height: 125px;
    width: 190px;
    border: solid 20px black;
    font-family: fantasy;
    font-size: 40px;
    margin: 10px;
    padding-left: 10px;
}
body{
    background-color:chocolate;
    background-image: linear-gradient(to right, chocolate , yellow);
}
.perifericos{
    color:darkblue;
    font-style: oblique;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "perifericos";
    transform: translate(250px, 50px);
    transition:  all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}


@keyframes efecto1 {
    0%{
        background-color: red;
    }
    10%{
        background-color: yellow;
    }
    50%{
        background-color: blue;
height: 150px;
width: 150px;
    }
    100%{
        background-color: chocolate;
    }
}

.perifericos:hover{
    font-size: 50px;
    background-color: darkviolet;
}
.procesadores{
    color:darkcyan;
    font-style: initial;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "procesadores";
    transform: translate(250px, 50px);
    transition: all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}
.procesadores:hover{
    font-size: 50px;
    background-color: darkblue;
}
.placasdevideo{
    color:darkslategray;
    font-style: unset;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "placasdevideo";
    transform: translate(250px, 50px);
    transition: all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}
.placasdevideo:hover{
    font-size: 50px;
    background-color: darkolivegreen;
}
.notebook{
    color:darkgreen;
    font-style: italic;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "notebook";
    transform: translate(250px, 50px);
    transition:  all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}
.notebook:hover{
    font-size: 50px;
    background-color: darkred;
}
#lista{
    list-style-type: upper-roman;
}
.ubicacion{
    color:cornflowerblue;   
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "ubicacion";
    transform: translate(250px, 50px);
    transition:  all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}
.ubicacion:hover{
    font-size: 50px;
    background-color: darkturquoise;
}
.contacto{
    color:fuchsia;
    font-style:normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
    grid-area: "contacto";
    transform: translate(250px, 50px);
    transition:  all 1s;
    animation-name: efecto1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: ;
}
.contacto:hover{
    font-size: 50px;
    background-color: darkseagreen;
}

.ubi2{
    color:darkkhaki;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
}
#mouse{
    color:firebrick;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
}
#teclado{
    color:greenyellow;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
}
#placasdevideo{
    color:teal;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
}
#procesadores{
    color:purple;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;

}
#pcs{
    color:olive;
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 2.0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    justify-content: start;
    grid-template-areas:
    "perifericos"
    "placasdevideo"
    "notebook"
    "contacto"
    "ubicacion"
    "procesadores";
    
}
.grid-container div{
    text-align: center;
    color: white;
    border: 2px solid black;

}
.gridcontainerbody{
display :grid;
margin-left: 500px;
}
.footer{
    display: grid;
    border: 2px solid palegreen;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    margin: 10px;
}